[submodule "Schood-API"]
	path = Schood-API
	url = https://github.com/SchoodEIP/Schood-API
	branch = main
[submodule "Schood-WEB"]
	path = Schood-WEB
	url = https://github.com/SchoodEIP/Schood-WEB
	branch = main
[submodule "Schood-Mobile"]
	path = Schood-Mobile
	url = https://github.com/SchoodEIP/Schood-Mobile
	branch = main
[submodule "Schood-Builder"]
	path = Schood-Builder
	url = https://github.com/SchoodEIP/Schood-Builder.git
	branch = main
